#notifications-stack .notification-description {
	position: relative;
	display: block;
	max-height: 10em;
	overflow: hidden;

	transition: 0.3s max-height;
}

#notifications-stack .notification-description:focus {
	max-height: 1000px;
	outline: none;
}